<h1>Prueba 01</h1>

<router-outlet></router-outlet>

<nav>
  <a class="button" routerLink="/aplicacion-p-list">Aplicación de Pruebas</a>
  <a class="button" routerLink="/aplicacion-p-list">Aplicación de Pruebas</a>
  <a class="button" routerLink="/aplicacion-p-list">Aplicación de Pruebas</a>
  <a class="button" routerLink="/aplicacion-p-list">Aplicación de Pruebas</a>
  <a class="button" routerLink="/aplicacion-p-list">Aplicación de Pruebas</a>
  <a class="button" routerLink="/aplicacion-p-list">Aplicación de Pruebas</a>
</nav>